* {
  box-sizing: border-box;
}

/* 1 вариант переиспользования стилей - использование дополнительного класса*/
.user-card {
  width: 400px;
  height: 500px;
  border: 3px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

.presentation_harry {
  /* width: 400px;
  height: 500px;
  border: 3px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px; */
  border-style: solid;
  background-color: rgb(90, 90, 216);
}

.presentation_ron {
  /* width: 400px;
  height: 500px;
  border: 4px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px; */
  border-style: dashed;
  background-color: rgb(145, 145, 195);
}

.presentation_hermiona {
  /* width: 400px;
  height: 500px;
  border: 4px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px; */
  border-style: dotted;
  background-color: rgb(164, 90, 90);
}

/* 2 вариант переиспользования стилей - группировка селекторов */
/* .presentation_harry,
.presentation_ron,
.presentation_hermiona {
  width: 400px;
  height: 500px;
  border: 3px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
} */

.italic {
  font-style: italic;
}

.user-photo {
  width: 100px;
}
