* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: rgb(177, 218, 159);
}

header {
  width: 100%;
  padding: 40px;
  background: rgb(109, 126, 201);
  font-size: 36px;
  margin-bottom: 40px;
}

main {
  /* width: 100%; */
  /* min-height: 100%; */
  flex: 1;
  padding: 30px;
  font-size: 26px;
  background: rgb(211, 203, 91);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(173, 170, 170, 0.548);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30%;
  padding: 40px;
  background: rgb(243, 233, 233);
  font-size: 32px;
  border: 2px solid;
}
